.main-content {
    text-align: center;
    padding: 50px 20px;
  }

  .title {
    font-size: 80px;
    color: var(--primary-color);
    margin-bottom: 20px;
  }

  .burguer-image {
    margin-bottom: 10px;
    @media (max-width: 768px) { // Tablets
      width: 100%;
    }
    @media (max-width: 576px) { // Celulares
      width: 100%;
    }
  }

  .button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

