<div class="header">
  <div class="logo" routerLink="/home" style="cursor: pointer;">
    <img src="/logo.svg" alt="Burguer Mania Logo" />
  </div>
  <button class="menu-toggle" (click)="toggleSidebar()">
    {{ isSidebarActive ? '✖' : '☰' }}
  </button>
  <nav class="menu" [class.active]="isSidebarActive">
    <a routerLink="/home" (click)="toggleSidebar()">Início</a>
    <a routerLink="/categoria" (click)="toggleSidebar()">Categoria</a>
    <a routerLink="/cardapio" (click)="toggleSidebar()">Cardápio</a>
    <a routerLink="/localizacao" (click)="toggleSidebar()">Localização</a>
    <a routerLink="/pedido" (click)="toggleSidebar()">Pedido</a>
    <a routerLink="/contato" (click)="toggleSidebar()">Contato</a>
  </nav>
</div>
