.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.input-group label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

input[type="text"],
input[type="number"] {
  padding: 10px;
  border: 1px solid #b8b7b7;
  border-radius: 4px;
  font-size: 16px;
  font-family: var(--font-family);

  @media (max-width: 768px) { // Tablets
    width: 80%;
  }
  @media (max-width: 576px) { // Celulares
    width: 80%;
  }
}
