@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --primary-color: #FFFFFF;
    --secondary-color: #521D16;
    --third-color: #FFDB58;
    --font-family: 'Inter', sans-serif;
    --font-size: 26px;
    --button-color: #ED0000;
  }

